1.Write a Python program to Extract Unique values dictionary values?

In [2]:
my_dic ={1:"apple",2:"orange",3:"grapes",4:"orange",5:"berries",6:"apple",7:"orange",8:"kiwi",9:"berries",10:"berry"}
print(f"Original Dictionary Values : {my_dic.values()}")
print(f"Unique values are : {set(my_dic.values())}")

Original Dictionary Values : dict_values(['apple', 'orange', 'grapes', 'orange', 'berries', 'apple', 'orange', 'kiwi', 'berries', 'berry'])
Unique values are : {'kiwi', 'berries', 'grapes', 'apple', 'berry', 'orange'}

2.Write a Python program to find the sum of all items in a dictionary?

In [4]:
my_dic ={"apple":100,"orange":50,"berries":20,"kiwi":9,"berry":10}
print(f"Sum of all items in dictionary : {sum(my_dic.values())}")

Sum of all items in dictionary : 189

3.Write a Python program to Merging two Dictionaries?

In [7]:
my_dict = {"author": "michael crichton"}

my_dict1 = {"Books":["Binary","Jurassic Park","Airframe"]}

my_dict.update(my_dict1)
my_dict

{'author': 'michael crichton',
 'Books': ['Binary', 'Jurassic Park', 'Airframe']}

4.Write a Python program to convert key-values list to flat dictionary?

In [9]:
li= [("name","lak"),("age",30),("course","Datascience")]
dict(li)

{'name': 'lak', 'age': 30, 'course': 'Datascience'}

5.Write a Python program to insertion at the beginning in OrderedDict?

In [13]:
from collections import OrderedDict
dic1 = OrderedDict([("A",11),("B",12),("C",13)])
dic2 = OrderedDict([("D",14)])
res = OrderedDict(list(dic2.items()) + list(dic1.items()))
res

OrderedDict([('D', 14), ('A', 11), ('B', 12), ('C', 13)])

6.Write a Python program to check order of character in string using OrderedDict()?

In [18]:
from collections import OrderedDict
my_dic ={1:"apple",12:"orange",3:"grapes",4:"orange",15:"berries",6:"apple",17:"orange",8:"kiwi",19:"berries",10:"berry"}
OrderedDict(dict(sorted(my_dic.items())))

OrderedDict([(1, 'apple'),
             (3, 'grapes'),
             (4, 'orange'),
             (6, 'apple'),
             (8, 'kiwi'),
             (10, 'berry'),
             (12, 'orange'),
             (15, 'berries'),
             (17, 'orange'),
             (19, 'berries')])

7.Write a Python program to sort Python Dictionaries by Key or Value?

In [21]:
my_dic ={1:"apple",12:"orange",3:"grapes",4:"orange",15:"berries",6:"apple",17:"orange",8:"kiwi",19:"berries",10:"berry"}

def sort_dict(a,b):
  if b == 'key':
    print(dict(sorted(a.items(),key = lambda x:x[0], reverse=False)))
  else:
    print(dict(sorted(a.items(),key = lambda x:x[1], reverse=False)))

sort_dict(my_dic,'key')
sort_dict(my_dic,'value')

{1: 'apple', 3: 'grapes', 4: 'orange', 6: 'apple', 8: 'kiwi', 10: 'berry', 12: 'orange', 15: 'berries', 17: 'orange', 19: 'berries'}
{1: 'apple', 6: 'apple', 15: 'berries', 19: 'berries', 10: 'berry', 3: 'grapes', 8: 'kiwi', 12: 'orange', 4: 'orange', 17: 'orange'}