**Assignment_02**

1.What are the two values of the Boolean data type? How do you write them?



Boolean Data type returns two values : True and False

a = True

b = False

2. What are the three different types of Boolean operators?

Boolean Operators in Python are:

AND

OR

NOT

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).



AND - True if both conditions are true
eg : a and b



```
a       operator      b            Output
True     and        True            True
True     and        False           False
False    and        True            False
False    and        False           False
```



OR - True if any one condition is true
eg: a or b

```
a       operator      b             Output
True     or          True            True
True     or          False           True
False    or          True            True
False    or          False           False
```

NOT : True if condition is false
eg: not a


```
operator      a           output
  not        True         False
  not        False        True
```

4. What are the values of the following expressions?

In [1]:
(5 > 4) and (3 == 5) #False

False

In [3]:
not (5 > 4)#False

False

In [4]:
(5 > 4) or (3 == 5) #True

True

In [5]:
not ((5 > 4) or (3 == 5))#False

False

In [6]:
(True and True) and (True == False)#False

False

In [7]:
(not False) or (not True)#True

True

5. What are the six comparison operators?



```
 ==   Equal to                   eg: a == b
 !=   Not equal to               eg : a != b
 >    Greater than               eg : a > b
 >=   Greater than equal         eg : a >= b
 <    Less than                  eg : a < b
 <=   Less than equal            eg : a <= b
```

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

==   Equal to  operator compares the values in the variable a is exactly eual to the variable b

eg : a == b

10 == 10  True

14 == 178 False

= Assignment operator assigns value to the variable in the left side

eg: a = 100

x = "hello"

7. Identify the three blocks in this code:

In [11]:
spam = 0
if spam == 10:
  print('eggs')
if spam > 5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

#output
#ham
#spam
#spam

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [14]:
spam = int(input())
if spam == 1:
  print("Hello")
elif spam == 2:
  print("Howdy")
else:
  print("Greetings!")

7
Greetings!

9.If your programme is stuck in an endless loop, what keys youâ€™ll press?


press CTRL + C to end the loop

10. How can you tell the difference between break and continue?


break - Terminates the current loop and pass the control over the next loop

continue - skips the current iteration and moves to the next iteration

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

range(10), range(0, 10), and range(0, 10, 1) - these three functions are same.

In [15]:
#range(10)
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
#range(0,10)
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
#range(0,10,1)
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [18]:
#prints the numbers 1 to 10 using a for loop
a = 10
for i in range(1,a+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
#prints the numbers 1 to 10 using a while loop
i = 1
while i<=10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

module name - spam
function name - bacon()

module.function

spam.bacon()