1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators

    

```
Ans :       *  -   Expression  
          'hello' – Values(String)
          -87.8  -  Values (Float)
          -      -  Expression
          /      -  Expression
          +	     -  Expression
           6     - Values(Integer)
```

2. What is the difference between string and variable?
String – Stores specific type of information (numbers, characters, float) enclosed without double quotes.

```

Eg: “welcome”
“18987”
“san@gmail.com”
Variable – container for storing any different types of Data.
Eg: A=10;
 Myname = “Santhana”
My_value = 10.9
My_exp = True\

```

3. Describe three different data types.


```
Numeric- stores integer, float and complex data
Eg: a= 8+5j
String – collection of characters enclosed within quotes
Eg: L = “program”
Boolean – stores True or False
Eg: X=False

```

4. What is an expression made up of? What do all expressions do?


```
Expression is a combination of Values, Variables, operators and methods.
Expression performs some operations and returns result.   

```

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?


```
Expression evaluates the values and returns resukt as singlr value. 
eg a//b
a%b
a+b  
Statement is a action or command that does something, but does not return anything
eg: = , if , elif,else, loops
```

6. After running the following code, what does the variable bacon contain?

In [2]:
# bacon will contain 22 bcos the incremented value is not assigned to the variable bacon.
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

In [5]:
print('spam' + 'spamspam')#output=spamspamspam
print('spam' * 3)#output=spamspamspam

#Both the outputs are same

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?


```
eggs is a valid variable as it starts with characters
100 is invalid because variable names should not start with numbers.
```

9. What three functions can be used to get the integer, floating-point number, or string version of a value?



```
int()
float()
str()

```

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'



```
This expression cause error because 99 is a integer and cannot be concatenated with string
Solution : 'I have eaten'+' 99 '+'burritos'
            'I have eaten '+str(99)+' burritos'
```

In [10]:
print('I have eaten'+' 99 '+'burritos')
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos
I have eaten 99 burritos