**Python_Programming_Assignment_10**

1.Write a Python program to find sum of elements in list?

In [10]:
def list_sum(l):
  sum = 0
  for i in l:
    sum += i
  print(f"Sum of elements in the list: {sum}")

In [11]:
list_sum([3,5,7,9])

Sum of elements in the list: 24

2.Write a Python program to  Multiply all numbers in the list?

In [16]:
def mul_list(l):
  total =1
  for i in l:
    total  = total * i
  print(f"Multiplied values in the list: {total}")

In [17]:
mul_list([5,5,5,5])

Multiplied values in the list: 625

3.Write a Python program to find smallest number in a list?

In [19]:
def small_num(l):
  min = l[0]
  for i in l:
    if i <min:
      min = i
  return min

In [20]:
small_num([78,45,23,10])

10

4.Write a Python program to find largest number in a list?

In [22]:
def max_num(l):
  max = l[0]
  for i in l:
    if i > max:
      max = i
  return max

In [23]:
max_num([123,89,670,45,54])

670

5.Write a Python program to find second largest number in a list?

In [27]:
l1= [11,23,8,5,154,90]
l1.sort()
print(f"The second largest number in the list : {l1[-2]}")

The second largest number in the list : 90

7.Write a Python program to find N largest elements from a list?

In [32]:
my_list = [31,23,45,11,77,39,8,67]
n = int(input("Enter the n value: "))
my_list.sort()
print(f"{n} largest elements from the list: {my_list[-n:]}")

Enter the n value: 3
3 largest elements from the list: [45, 67, 77]

7.Write a Python program to print even numbers in a list?

In [33]:
def even(l):
  for i in l:
    if i%2 == 0:
      print(i, end = " ")

In [34]:
even([3,6,12,34,23,77])

6 12 34

8.Write a Python program to print odd numbers in a List?

In [35]:
def odd(l):
  for i in l:
    if i%2 == 1:
      print(i, end = " ")

In [36]:
odd([1,2,3,4,5,6,7,8,9])

1 3 5 7 9

9.Write a Python program to Remove empty List from List?

In [40]:
my_list = [12,[],56,[],[],[],89,[]]
print(f"Before removing empty list : {my_list}")
my_list = list(filter(None, my_list))
print(f"After removing empty list : {my_list}")

Before removing empty list : [12, [], 56, [], [], [], 89, []]
After removing empty list : [12, 56, 89]

10.Write a Python program to Cloning or Copying a list?

In [41]:
l1 = [ 11,12,13,"hello",89.5, 7+4j]
l2 = l1.copy()
print(f"Original list: {l1}")
print(f"Cloned list: {l2}")

Original list: [11, 12, 13, 'hello', 89.5, (7+4j)]
Cloned list: [11, 12, 13, 'hello', 89.5, (7+4j)]

11.Write a Python program to Count occurrences of an element in a list?

In [47]:
my_list = [3,9,6,3,8,5,3,8,"hello"]
print(f"{n} occurred {my_list.count(3)} times in the list")

hello occurred 3 times in the list